#about {
  background-color: var(--color-main);

  margin-top: 2em;
  padding-bottom: 2em;
}

.about__container {
  grid-column: 3/11;
  color: white;

  font-size: 18px;
}

.about__container p {
  margin: 0;
}

.about__container h3 {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
}

@media (min-width: 1200px) {
  #about {
    grid-column: 7/13;
  }
}

@media (min-width: 1440px) {
}
