.layer-far {
  z-index: var(--layer-far);
}

.layer-back {
  z-index: var(--layer-back);
}

.layer-mid {
  z-index: var(--layer-mid);
}
.layer-near {
  z-index: var(--layer-near);
}

.layer-front {
  z-index: var(--layer-front);
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  padding: 0 15px;
}

/*------------ text ----------------*/
.title {
  text-transform: uppercase;
  text-align: center;

  color: var(--color-main);

  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  font-size: 36px;

  grid-column: 1 / -1;
}

.subtitle {
  text-transform: uppercase;
  text-align: center;

  color: var(--color-main);

  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  font-size: 24px;

  text-align: left;

  margin: 0 0 0.2em;
}
/* 
.title--dark {
  color: rgb(58, 58, 58);
  padding-top: 0;
}

.title::after {
  content: '';
  display: block;
  border-bottom: 0.3em solid whitesmoke;
  width: 2em;
  margin: 0.5em auto 0;
}

.title--dark::after {
  border-color: rgb(58, 58, 58);
}

.required {
  color: rosybrown;
} */

/*------------- buttons ----------------*/
/* .btn {
  cursor: pointer;
  padding: 0.5em;
}

.btn__submit {
  background-color: #1a1a1a;
  color: whitesmoke;

  font-size: 1rem;

  margin-top: 0;

  width: 100%;
} */
/*-------------- adaptive ----------------*/

/* .mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: 48em) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
} */
