/* ------------- layering ------------*/
:root {
  --layer-back: -2;
  --layer-far: -1;
  --layer-mid: 0;
  --layer-near: 1;
  --layer-front: 2;
}

.layer-far {
  z-index: var(--layer-far);
}

.layer-back {
  z-index: var(--layer-back);
}

.layer-mid {
  z-index: var(--layer-mid);
}
.layer-near {
  z-index: var(--layer-near);
}

.layer-front {
  z-index: var(--layer-front);
}

/*------------ text ----------------*/
.title {
  text-transform: uppercase;
  padding-top: 3em;
  text-align: center;

  color: whitesmoke;
}

.title--dark {
  color: rgb(58, 58, 58);
  padding-top: 0;
}

.title::after {
  content: '';
  display: block;
  border-bottom: 0.3em solid whitesmoke;
  width: 2em;
  margin: 0.5em auto 0;
}

.title--dark::after {
  border-color: rgb(58, 58, 58);
}

.required {
  color: rosybrown;
}

/*------------- buttons ----------------*/
.btn {
  cursor: pointer;
  padding: 0.5em;
}

.btn__submit {
  background-color: #1a1a1a;
  color: whitesmoke;

  font-size: 1rem;

  margin-top: 0;

  width: 100%;
}
/*-------------- adaptive ----------------*/

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: 48em) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
