#brand {
  padding: 0;
  height: calc(100vh + 100px);

  background-color: white;

  background: url(../img/bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-blend-mode: overlay;

  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100vh));
}

.brand__wrapper {
  position: relative;
}

.brand__logo {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 10%;
}

@media (min-width: 768px) {
  .brand__wrapper {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 50%,
      var(--color-main) 92%,
      var(--color-main) 100%
    );
  }
  #brand {
    padding: 0;
    height: 100vh;

    clip-path: polygon(
      1% -5%,
      1% 0%,
      6% 80%,
      42% 90%,
      44% 0%,
      44% -5%,
      45% -5%,
      45% 0%,
      43% 93%,
      75% 95%,
      70% 0%,
      70% -5%,
      71% -5%,
      71% 0%,
      76% 97%,
      95% 80%,
      99% 0%,
      99% -5%
    );
  }

  .brand__logo {
    width: 60%;
    left: 20%;
  }
}

@media (min-width: 1200px) {
  #brand {
    clip-path: polygon(
      1% -5%,
      1% 0%,
      6% 80%,
      22% 90%,
      24% 0%,
      24% -5%,
      25% -5%,
      25% 0%,
      23% 93%,
      49% 95%,
      45% 0%,
      45% -5%,
      46% -5%,
      46% 0%,
      50% 97%,
      75% 79%,
      79% 0%,
      79% -5%,
      80% -5%,
      80% 0%,
      76% 78%,
      94% 77%,
      99% 0%
    );
  }

  .brand__logo {
    width: 40%;
    left: 30%;
  }

  .brand__wrapper {
    grid-column: 1/13;
  }
}

@media (min-width: 1440px) {
  .brand__logo {
    width: 40%;
    left: 30%;
    top: 20%;
    opacity: 0.7;

  }
  #brand {
    clip-path: polygon(
      0% -5%,
      0% 0%,
      0% 80%,
      22% 90%,
      24% 0%,
      24% -5%,
      25% -5%,
      25% 0%,
      23% 93%,
      49% 95%,
      45% 0%,
      45% -5%,
      46% -5%,
      46% 0%,
      50% 97%,
      75% 79%,
      79% 0%,
      79% -5%,
      80% -5%,
      80% 0%,
      76% 78%,
      100% 76%,
      100% 0%
    );
  }
}
