#brand {
  padding: 0;
  height: calc(100vh + 100px);

  background-color: white;

  background: url(../img/background.jpg);

  background-image: -moz-linear-gradient(
      180deg,
      rgb(76, 125, 134) 0%,
      rgb(129, 115, 100) 33%,
      rgb(182, 105, 65) 50%,
      rgb(129, 115, 100) 68%,
      rgb(76, 125, 134) 100%
    ),
    url(../img/background.jpg);
  background-image: -webkit-linear-gradient(
      180deg,
      rgb(76, 125, 134) 0%,
      rgb(129, 115, 100) 33%,
      rgb(182, 105, 65) 50%,
      rgb(129, 115, 100) 68%,
      rgb(76, 125, 134) 100%
    ),
    url(../img/background.jpg);
  background-image: -ms-linear-gradient(
      180deg,
      rgb(76, 125, 134) 0%,
      rgb(129, 115, 100) 33%,
      rgb(182, 105, 65) 50%,
      rgb(129, 115, 100) 68%,
      rgb(76, 125, 134) 100%
    ),
    url(../img/background.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-blend-mode: overlay;
  mix-blend-mode: luminosity;

  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100vh));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand__logo {
  width: 80%;
}
