footer {
  background-color: var(--color-main);
  color: white;
  text-align: center;

  padding: 1em;

  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}

@media (min-width: 1200px) {
  footer {
    padding-top: 2em;
  }
}
