footer {
  background-color: #1a1a1a;
  color: whitesmoke;
  text-align: center;

  padding: 1em;
}

.footer-link {
  color: #1a1a1a;
  background-color: whitesmoke;
}

@media (min-width: 768px) {
  footer {
    padding-top: 3em;
  }
}
