header {
  z-index: var(--layer-front);
  position: fixed;
  top: 0;
  height: 2.5em;
}

.menu-toggle {
  display: inline-block;
  padding: 0.75em;

  font-size: 1em;
  line-height: 1em;
  color: rgb(177, 177, 177);

  position: absolute;
  right: 0;
}

.menu-toggle:hover,
.menu-toggle:focus,
.main-menu .menu-close:hover,
.main-menu .menu-close:focus {
  color: white;
}

.main-menu {
  position: absolute;
  right: -100vw;
  top: 0;
  height: 100vh;
  overflow: hidden;

  transition: right 0.5s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;

  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: 0.75em;
  line-height: 1em;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;

  color: rgb(177, 177, 177);
}

.main-menu:target,
.main-menu[aria-expanded='true'] {
  display: block;
  right: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded='true'] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded='true'] ul {
  position: relative;
  z-index: 1000;
}

@media (min-width: 48em) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  .main-menu {
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    height: auto;
    width: 100%;
    display: block;
    background: none;
  }

  .main-menu ul {
    justify-content: center;
    flex-direction: row;

    height: auto;
    min-height: auto;
    width: auto;
  }
}

@supports (position: fixed) {
  .main-menu {
    position: fixed;
  }
}
