/* positioning, margins, paddings, aligns goes here, zindex */

/* position */
.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

/* size */
.window-height {
  height: 100vh;
}
.window-width {
  width: 100vw;
}

/* margin */
.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-5 {
  margin-top: 5em;
}

/* padding */

/* align */
.center {
  text-align: center;
}

/* layersz-index */
.layer-back {
  z-index: -2;
}
.layer-far {
  z-index: -1;
}
.layer-mid {
  z-index: 0;
}
.layer-near {
  z-index: 1;
}
.layer-front {
  z-index: 2;
}
