#services {
  background-color: rgb(0, 44, 0);
  background-image: url(../img/service-bg/0.jpg);
  background-repeat: repeat;

  color: whitesmoke;
  padding: 1em;

  padding-bottom: 5em;
}

.service__list {
  list-style: none;
  text-align: center;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 3em;
}

@media (min-width: 768px) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
  }
}

.service__icon {
  width: 100px;
  height: 100px;
  line-height: 60px;

  margin: 1em auto 0;
  padding: 20px;

  border: 3px solid whitesmoke;
  border-radius: 50%;
}

.service__title {
  text-transform: uppercase;
  font-weight: lighter;
  max-width: 300px;
  margin: 1em auto;
}

.service__text {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.2em;

  max-width: 300px;
  margin: 0 auto;
}
