.service__list {
  list-style: none;

  margin: 0;
  padding: 0;

  grid-column: 1/13;
}

.service__item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1em;
}

.service__item + .service__item {
  margin-top: 1em;
}

.service__image {
  grid-column: span 4;
  -ms-grid-column-span: 4;

  align-self: center;
}

.service__info {
  grid-column: span 6;
  -ms-grid-column-span: 6;

  align-self: center;
}

.service__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

@media (min-width: 375px) {
  .service__list {
    grid-column: 2/12;
  }
  .service__text {
    font-size: 18px;
  }
}
