/* style for testig, like setting size and background colors for containers to visualise layers and so on */

footer {
  height: 100px;
  width: 100%;
  background-color: rgb(58, 58, 58);
}

.services {
  height: 500px;
  background-color: indigo;
}

.portfolio {
  height: 700px;
  background-color: tomato;
}

.about {
  height: 300px;
  background-color: greenyellow;
}

.contacts {
  height: 600px;
  background-color: orange;
}
