/* style for testig, like setting size and background colors for containers to visualise layers and so on */

footer {
  height: 100px;
  width: 100%;
  background-color: rgb(58, 58, 58);
}

.contacts {
  height: 600px;
  background-color: orange;
}
